.textblock {
    font-size: 25px;
    width: 600px;
    padding-left: 3%;
    display: inline-block;
}

.header {
    font-size: 40px;
    font: bold;
    display: grid;
    justify-content: center;
    color: rgb(153, 153, 218) !important;
}

.skillchips {
    color: rgb(197, 56, 56);
    padding: 10px;
}

.classchips {
    color: rgb(49, 109, 89);
}

.container {
    display: flex;
}