<div class="content">
    <div class="container">
    <div class="textblock intro">
    <p class="text header">Intro</p>
  
    <p class="text">
      Hi! My name is Andrew Toskas, a computer science major at Rochester Institute of Technology.
      I beleive my greatest strength is my ability to overcome challenges on my own, but I also know when I 
      need to ask for help. I am very disciplined and hard worker who is always trying to learn new things.
      I have experience in many different programming languages and am very confident in my ability to pick 
      up new languages and technologies quickly. 
    </p>
    </div>
    <div class="textblock skills">
      <p class="text header">Relevant Skills</p>
      <mat-chip-set class="skillchips">
        <mat-chip disabled>Rust</mat-chip>
        <mat-chip disabled>Java</mat-chip>
        <mat-chip disabled>JavaScript</mat-chip>
        <mat-chip disabled>Python</mat-chip>
        <mat-chip disabled>TypeScript</mat-chip>
        <mat-chip disabled>C</mat-chip>
        <mat-chip disabled>C#</mat-chip>
        <mat-chip disabled>C++</mat-chip>
        <mat-chip disabled>Kotlin</mat-chip>
        <mat-chip disabled>Git</mat-chip>
        <mat-chip disabled>Selenium</mat-chip>
        <mat-chip disabled>Junit</mat-chip>
        <mat-chip disabled>Docker</mat-chip>
        <mat-chip disabled>AWS</mat-chip>
        <mat-chip disabled>MongoDB</mat-chip>
        <mat-chip disabled>SQL</mat-chip>
        <mat-chip disabled>Node.JS</mat-chip>
        <mat-chip disabled>Angular</mat-chip>
        <mat-chip disabled>Postman</mat-chip>
        <mat-chip disabled>React.JS</mat-chip>
        <mat-chip disabled>HTML</mat-chip>
        <mat-chip disabled>CSS</mat-chip>
        <mat-chip disabled>Gradle</mat-chip>
        <mat-chip disabled>Springboot</mat-chip>
      </mat-chip-set>
      
      </div>

      <div class="textblock skills">
        <p class="text header">Relevant Classes</p>
        <mat-chip-set class="classchips">
          <mat-chip disabled>Advanced CS Theory</mat-chip>
          <mat-chip disabled>Data Communication & Networks</mat-chip>
          <mat-chip disabled>Intro to Intelligent Security Systems</mat-chip>
          <mat-chip disabled>Systems Programming in Rust</mat-chip>
          <mat-chip disabled>Intro to AI</mat-chip>
          <mat-chip disabled>Concept of Parallel & Distributed Systems</mat-chip>
          <mat-chip disabled>Concepts of Computer Systems</mat-chip>
          <mat-chip disabled>Programming Language Concepts</mat-chip>
          <mat-chip disabled>Analysis of Algorithms</mat-chip>
          <mat-chip disabled>CS Theory</mat-chip>
          <mat-chip disabled>Principles of Data Managements</mat-chip>
          <mat-chip disabled>Mechanics of Programming</mat-chip>
          <mat-chip disabled>Intro to Software Engineering</mat-chip>
        </mat-chip-set>
        
        </div>
    </div>
  </div>