<div class="container content">
  <mat-card class="card" appearance="outlined" (click)="redirect('book-reviewer')" >
    <mat-card-header>
      <div mat-card-avatar class="header-image book">
      </div>
      <mat-card-title>Book Reviewer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        An application that uses sentiment analysis to determine the rating of books on bookmeter
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            <mat-chip disabled>Python</mat-chip>
            <mat-chip disabled>Natural Language Processing</mat-chip>
            <mat-chip disabled>BERT</mat-chip>
            <mat-chip disabled>PyTorch</mat-chip>
            <mat-chip disabled>Selenium</mat-chip>
          </mat-chip-set>
      </mat-card-footer>
  </mat-card>
    <mat-card class="card" appearance="outlined" (click)="redirect('Password-Manager')" >
        <mat-card-header>
          <div mat-card-avatar class="header-image rust">
          </div>
          <mat-card-title>Password Manager</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            A password manager application that generates, encrypts and stores passwords 
          </p>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-chip-set>
                <mat-chip disabled>Rust</mat-chip>
                <mat-chip disabled>JSON</mat-chip>
                <mat-chip disabled>Encryption</mat-chip>
              </mat-chip-set>
          </mat-card-footer>
      </mat-card>
      <mat-card class="card" appearance="outlined" (click)="redirect('Kanji-Learner')">
        <mat-card-header>
          <div mat-card-avatar class="header-image solu">
          </div>
          <mat-card-title>Kanji Learner</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            A text parser that parses Japanee kanji and adds them to a database for future studying
          </p>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-chip-set>
                <mat-chip disabled>Javascript</mat-chip>
                <mat-chip disabled>React.JS</mat-chip>
                <mat-chip disabled>Node.JS</mat-chip>
                <mat-chip disabled>Express</mat-chip>
                <mat-chip disabled>MongoDB</mat-chip>
              </mat-chip-set>
          </mat-card-footer>
      </mat-card>
      </div>
      <div class="container content">

      <mat-card class="card" appearance="outlined" (click)="redirect('focus-extension')">
        <mat-card-header>
          <div mat-card-avatar class="header-image kit">
          </div>
          <mat-card-title>Focus Extension</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            A chrome extension that adds a timeout to websites it is enabled on
          </p>
        </mat-card-content>
        <mat-card-footer class="card-footer">
            <mat-chip-set>
                <mat-chip disabled>Javascript</mat-chip>
              </mat-chip-set>
          </mat-card-footer>
      </mat-card>
    </div>
    
    
    