<div class="container content">
<mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image lg">
      </div>
      <mat-card-title>Lifeguard</mat-card-title>
      <mat-card-subtitle>The Douglaston Club</mat-card-subtitle>
      <mat-card-subtitle>2018 - 2022</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        - Maintained order and safety through rule enforcement <br>
        - Consistantly ensured proper pH and chlorine readings of pool <br>
        - Helped new hires learn the responsibilities of a lifeguard <br>
        - Worked with management to improve pool rules <br>
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            <mat-chip disabled>Professionalism</mat-chip>
            <mat-chip disabled>Teamwork</mat-chip>
            <mat-chip disabled>Punctualiaty</mat-chip>
            <mat-chip disabled>Proactiveness</mat-chip>
            <mat-chip disabled>Communication</mat-chip>
          </mat-chip-set>
      </mat-card-footer>
  </mat-card>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image solu">
      </div>
      <mat-card-title>Software Engineer Co-op</mat-card-title>
      <mat-card-subtitle>Solu Technology Partners</mat-card-subtitle>
      <mat-card-subtitle>May 2023 - December 2023</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        - Collaborated with other interns and senior developers to develop Assert, a survey web application <br>
        - Gained full stack development experience using Angular, Typescript, HTML, CSS, Kotlin, and MongoDB <br>
        - Excelled in a fast paced agile environment leveraging tools such as Git, Docker, and AWS <br>
        - Held professional communications with the product owner to develop new features <br>
        - Thoroughly tested features developed by other team members <br>
        - Developed and maintained in depth automation testing of complex code base with Selenium <br>
        - Presented progress reports to senior management <br>
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            <mat-chip disabled>Angular</mat-chip>
            <mat-chip disabled>Typescript</mat-chip>
            <mat-chip disabled>Java</mat-chip>
            <mat-chip disabled>Kotlin</mat-chip>
            <mat-chip disabled>AWS</mat-chip>
            <mat-chip disabled>Docker</mat-chip>
            <mat-chip disabled>SpringBoot</mat-chip>
            <mat-chip disabled>Selenium</mat-chip>
            <mat-chip disabled>Gradle</mat-chip>
            <mat-chip disabled>HTML</mat-chip>
            <mat-chip disabled>CSS</mat-chip>
            <mat-chip disabled>MongoDB</mat-chip>
            <mat-chip disabled>Junit</mat-chip>
            <mat-chip disabled>Python</mat-chip>
            <mat-chip disabled>Automation Testing</mat-chip>
            <mat-chip disabled>Integration Testing</mat-chip>
          </mat-chip-set>
      </mat-card-footer>
  </mat-card>
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="header-image kit">
      </div>
      <mat-card-title>Study Abroad</mat-card-title>
      <mat-card-subtitle>Kanazawa Institute of Technology</mat-card-subtitle>
      <mat-card-subtitle>June 2024 - July 2024</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        - Attended 6-weeks of intensive Japanese language classes <br>
        - Collaborated with local students to help solve issues facing foreigners living in Kanazawa <br>
        - Researched Japanese folklore through interviews with local students <br>      
      </p>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <mat-chip-set>
            <mat-chip disabled>Teamwork</mat-chip>
            <mat-chip disabled>Communcation</mat-chip>
            <mat-chip disabled>Presentations</mat-chip>
            <mat-chip disabled>Critical Thinking</mat-chip>
            <mat-chip disabled>Global Perspectives</mat-chip>
          </mat-chip-set>
      </mat-card-footer>
  </mat-card>
</div>


